*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cal-main-sub{
    width: 380px;
    background: #292929;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: inset 3px 3px 15px rgb(21, 21, 21);
    position: relative;
    margin: 0 auto;
    
}
.cal-main{
    height: 100vh;
    background: #6598df;
    display: flex;
    flex-direction: column;
    justify-content: center;    
   
}
#display{
    height: 100px;
    width: 340px;
    background: #272926;
    margin-left: 8px;
    box-shadow: inset 3px 3px 15px rgb(21, 21, 21);
}
button{
    display: block;
    width: 80px;
    height: 60px;
    margin-right: 10px;
    background: #272926;
    color: #6598df;
    font-size: 20px;
    font-weight: bold;
    box-shadow:  3px 3px 25px rgb(21, 21, 21);
    border: none;
}
#buttons{
    
    width: 400px;
    
    padding: 0px 5px;
}
.set-one{
    width: 350px;
     margin: 10px 0px;
     display: flex;
}
#c{
    width: 165px;
   
}
#plus{
    position: absolute;
    height: 135px;
    right: 11px;
    width: 75px;
}
.set-two{
    padding-bottom: 5px;
    margin: 10px 0px;
        width: 350px;
        display: flex;
}
.set-three-mini{
    display: flex;
    width: 265px;
    justify-content: space-between;
}
.set-three{
    padding-bottom: 5px; 
    margin: 10px 0px;
    display: flex;
}
.set-four{
    padding-bottom: 5px;
    margin: 10px 0px; 
    display: flex;
}
.set-five{
    padding-bottom: 5px;
    margin: 10px 0px; 
    display: flex;
}
@media screen and (max-width:500px){
    .cal-main-sub{
    width: 280px;
    background: #292929; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#display{
    height: 70px;
    width: 245px;
}
#buttons{
    width: 245px;
}
button{
    display: block;
    width: 55px;
    height: 40px;
    margin-right: 0px;
    font-size: 14px;
}
.set-one{
    width: 245px;
     margin: 10px 0px;
     display: flex;
     justify-content: space-between;
}
#c{
    width: 110px; 
}
.set-two{
   
    width: 245px;
        display: flex;
        
        justify-content: space-between;
}
.set-three{
    width: 245px;
    
    display: flex;
    justify-content: space-between;
}
.set-three-mini{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.set-four{
    width: 245px;
}
.set-five{
    width: 245px;
    display: flex;
    justify-content: space-between;
}
#plus{
    
    height: 100px;
    right: 15px;
    width: 50px;
}
}